*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav{
    width: 100%;
    height: 140px;
    padding: 10px 120px;
    display: flex;
    background-color: rgb(8, 40, 59);
    justify-content: space-between;

}
.nav-img{
    display: flex;
}

.nav-link ul{
    width: 100%;
    display: flex;
    margin-top: 50px;
    gap: 50px;
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
    
}
.link-a{
    color: white;
}

.frame{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.frame img{
    width: 23px;
    height: 24px;
}

.btn{
    width: 100px;
    height: 40px;
    align-items: center;
    margin-top: 40px;
    border: 1px solid orange;
    background-color: rgb(8, 40, 59);
    color: white;
    border-radius: 10px;
}

.home-link{
    padding: 20px 120px;
    display: flex;
    background-color: rgb(8, 40, 59);
    gap: 20px;
    font-size: 22px;
}
.home-link a{
    color: white;
}

.container{
    padding: 20px 120px;
    background-color: rgb(8, 40, 59);
    width: 100%;
    height: 100vh;
}
.wrapper h1 {
    color: white;
    margin-top: 80px;
    font-size: 50px;
}

.service{
    display: flex;
    gap: 50px;
    padding: 50px 0px;
}      

.service-center:nth-child(1){
    height: 290px;
}

.btn-cont{
    width: 250px;
    height: 60px;
    border-radius: 15px;
    background-color: aqua;
    font-size: 24px;
    border: none;
}


.service-center{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0px 120px;
    border: 2px solid;
    border-radius: 10px;
    background-color:#2A3C4E;
    justify-content: center;
    border: none;
}

.service-center p {
    font-family: sans-serif;
    font-size: 19px;
    color: white;
    
}


.benefit{
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 40, 59);
    padding: 0px 120px;
}

.benefit-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.items-box{
    width: 800px;
    border: 1px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: #2A3C4E;
}

.items-box p{
    font-size: 22px;
    padding: 10px 0px;
    color: white;
}


.benefit h1{
    font-size: 55px;
    padding: 20px 0px;
    color: white;
}

.items-box:nth-child(3){
    height: 200px;
}
.items-box{
    color: #46DBBF;
    font-size: 18px;
}

footer{
    width: 100%;
    background-color: rgb(8, 40, 59);

}

.network{
    padding: 50px 120px;
    width: 100%;
    height: 100%;
}

.web-logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.web-logo h1{
    color: white;
    font-size: 50px;
}

.web-logo ul{
    display: flex;
    gap: 20px;
}
.web-logo li a img{
    width: 100%;
}

.network-items{
    display: flex;
    padding: 35px 0px;
    justify-content: space-between;
}
.network-box{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #5F7897;
    font-size: 22px;
}

.network-box ul a{
    color: white;
    font-size: 20px;
}

.network-btn{
    padding: 30px 0px;
    
}

.network-btn button{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff9b52;
    color: white;

}

.network2{
    width: 100%;
    display: flex;
    padding: 50px 0px;
    gap: 180px;
}

.net-btn{
    padding: 15px 100px;
    background-color: #04202894;
    outline: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
}
.napa{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.napa p{
    color: #8AB7C6;
    font-size: 18px;
}

.copyright{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copyright p{
    color: #8AB7C6;
    font-size: 18px;
}
